/* Global styles*/
html{
    font-size: 62.5%;
}

:root{
    --dark:#333333;
    --white:#ffffff;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

h1{
    font-size: 3.8rem;
    
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
}

img{
    max-width: 100%;
}

/* header */

.site-header{
    background-color:var(--dark);
    padding: 20px;
}

.site-header-init{  
   background-image: url(/Agency/img/header.jpg);
   height: 60vh;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.content-header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
}

.site-header-init h1{
    color:var(--white);
    padding-bottom: 2rem;
    line-height: 2;
    max-width: 50rem;
}

/*Menu*/

.menu a{
    color:var(--white);
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
}

.menu a:hover{
    color: #71b100;
}

.icon-us{
    display: flex;
    justify-content: space-between;
}

.icon{
    text-align: center;
    padding: 1rem;
}

.icon p{
    font-size: 1.6rem;
}

section h2{
    text-align: center;
}

/* products */

.product-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    column-gap: 2rem;
}

/* contact page */

legend{
    font-size: 2rem;
}

label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.main-contact p{
    font-size: 1.6rem;
    color:var(--dark);
    margin: 2rem 0 0 0;
}

input:not([type="submit"]),textarea,select{
    background-color: #e1e1e1;
    width: 90%;
    display: block;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.btn{
    background-color: #ffffff;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    display: block;
    border: none;
    border-radius: 5px;
    width: 30rem;
}

.btn-green{
    background-color: #71b100;
}

.btn-form{
    display: flex;
    justify-content: center;
}

/* footer */
.foot{
    
    margin-top: 3rem;
    height: 4rem;
    font-size: 1.5rem;
    padding: .5rem;
    margin-left: 1.8rem;
    background-color: var(--white);
    color: var(--dark);
    text-align: center;
}

.foot-a{
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3rem;
    background-color: var(--white);
    width: 20rem;
    text-align: center;
    word-spacing: .5rem;
}
